.p1 {
color: #a878d5;
}
.block1 {
background-color: #666;
height: 118px;}
.block2 {
background-color: crimson;
width: 100px;
height: 100px;}
.block3 {
width: 300px;
background-color: #a878d5}
.p2 {
background-color: #7c579e ;}